<h3 class="bottom-col-title">{{ 'menu.title'|trans }}</h3>
{% spaceless %}
<div class="menu-menu-footer-container">
  <ul id="menu-menu-footer" class="menu">
    <li id="menu-item-248" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-248">
      <a href="{{ url('fr_about-us') }}">{{ 'menu.about-us'|trans }}</a>
    </li>
    <li id="menu-item-249" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-249">
      <a href="{{ url('fr_insurance') }}">{{ 'menu.insurance'|trans }}</a>
    </li>
    <li id="menu-item-250" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-250">
      <a href="{{ url('fr_material') }}">{{ 'menu.material'|trans }}</a>
    </li>
    <li id="menu-item-251" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-251">
      <a href="{{ url('fr_activities') }}">{{ 'menu.activites'|trans }}</a>
    </li>
    <li id="menu-item-252" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-252">
      <a href="{{ url('fr_trips') }}">{{ 'menu.trips'|trans }}</a>
    </li>
    <li id="menu-item-253" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-253">
      <a href="{{ url('fr_google-location') }}">{{ 'menu.google-Location'|trans }}</a>
    </li>
    <li id="menu-item-255" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-255">
      <a href="{{ url('fr_price-list') }}">{{ 'menu.price-list'|trans }}</a>
    </li>
  </ul>
</div>
{% endspaceless %}