<h3 class="bottom-col-title">{{ 'title.contact'|trans }}</h3>
<div class="textwidget">
  <p>{{ 'bottom.para1'|trans|raw }}</p>
  <p>{{ 'bottom.para2'|trans|raw }}</p>
  <p>{{ 'bottom.phome'|trans }} : <span class="brand-color"><strong> +238 974 36 46</strong></span></p>
  <p>{{ 'bottom.mail'|trans }} :  <a href="mailto:zebrajet@voila.fr"><em>zebrajet@voila.fr</em></a></p>
</div>