{% spaceless %}
    <nav>
<ul id="menu-home-menu" class="sf-menu">
  <li id="menu-item-440" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-440">
    <a href="{{ url('fr_about-us') }}"><span>{{ 'menu.about-us'|trans }}</span></a>
    <ul class="sub-menu">
      <li id="menu-item-402" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-402">
        <a href="{{ url('fr_insurance') }}"><span>{{ 'menu.insurance'|trans }}</span></a>
      </li>
      <li id="menu-item-403" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-403">
        <a href="{{ url('fr_material') }}"><span>{{ 'menu.material'|trans }}</span></a>
      </li>
    </ul>
  </li>
  <li id="menu-item-441" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-441">
    <a href="{{ url('fr_activities') }}"><span>{{ 'menu.activites'|trans }}</span></a>
  </li>
    <li id="menu-item-407" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-407">
        <a href="{{ url('fr_google-location') }}"><span>{{ 'menu.google-Location'|trans }}</span></a>
    </li>
  <li id="menu-item-407" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-407">
      <a href="{{ url('fr_trips') }}"><span>{{ 'menu.trips'|trans }}</span></a>
  </li>
  <li id="menu-item-414" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-414">
    <a href="{{ url('fr_price-list') }}"><span>{{ 'menu.price-list'|trans }}</span></a>
  </li>
  <li id="menu-item-1032" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1032">
    <a href="{{ url('fr_gallery') }}"><span>{{ 'menu.gallery'|trans }}</span></a>
  </li>
  <li id="menu-item-643" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-643">
    <a href="{{ url('fr_contact') }}"><span>{{ 'menu.contact'|trans }}</span></a>
  </li>
</ul>
    </nav>
{% endspaceless %}